/* PC、スマホ共通スタイル */
body {
  font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial,
      sans-serif;
  background-color: aquamarine;
}

/*================
PC用のスタイル
=================*/
@media screen and (min-width: 768px) {
  /* 横幅設定 */
  body {
      max-width: 1080px;
      min-width: 900px;
      margin: 0 auto 0 auto;
  }

  h1 {
    text-align: center;
    font-size: 50px;
    color: darkblue;
  }
  h2 {
    text-align: center;
    font-size: 20px;
    color: blue;
  }
  #input {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  label {
    font-size: 30px;
    width: 100px;
  }
  #max-value {
    font-size: 30px;
    width: 150px;
    text-align: right;
  }
  #g-button {
    font-size: 20px;
    color: azure;
    background-color: blue;
    margin-right: 10px;
  }
  #c-button {
    font-size: 20px;
    color: rgb(8, 9, 9);
    background-color: rgb(193, 230, 243);
  }
  #prime-list {
    text-align: center;
  }
}

/*====================
 スマートフォン用のスタイル
=====================*/
@media screen and (max-width: 767px) {
  body {
      min-width: 375px;
      margin: 0;
  }
  h1 {
    text-align: center;
    font-size: 30px;
    color: darkblue;
  }
  h2 {
    text-align: center;
    font-size: 15px;
    color: blue;
  }
  #input {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  label {
    font-size: 20px;
    width: 80px;
  }
  #max-value {
    font-size: 20px;
    width: 100px;
    text-align: right;
  }
  #g-button {
    font-size: 15px;
    color: azure;
    background-color: blue;
    margin-right: 10px;
  }
  #c-button {
    font-size: 15px;
    color: rgb(8, 9, 9);
    background-color: rgb(193, 230, 243); 
  }
  #prime-list {
    text-align: center;
  }
}
